<section class="bg-mint" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-lg-offset-2 text-center text-light">
        <h2 class="section-heading mb-5"><b>프로젝트 소개</b></h2>
        <hr class="light my-4">
        <p class="instruction my-5">본 프로젝트는 인공지능(AI)과 로봇이라는 미래 먹거리에 대한 4차 산업혁명의 물결로서<br/>대한민국이 세계를 선도해 나가는 발판을 만들기 위한 디지털뉴딜 정책 사업의 일환입니다.</p>
        <a href="https://aiis.snu.ac.kr/sir" target="_blank" class="btn btn-default btn-big">데이터 구축 프로그램 바로가기!</a>
      </div>
    </div>
  </div>
</section>
