<section class="no-padding overflow-hidden" id="consortium">

  <div class="container-fluid">
    <!-- Title -->
    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Consortium</h2>
      </div>
    </div>

    <!-- Contents -->
    <div class="row p-5 bg-navy">
      <!-- 서울대학교 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="https://www.snu.ac.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_snu.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                수행기관
              </div>
              <div class="project-name">
                서울대학교
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- 유탑소프트 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="http://utopsoft.co.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_utop.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)유탑소프트
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- 오픈링크시스템 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="https://openlink.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_ols.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)오픈링크시스템
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- 퓨처로봇 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="http://www.futurerobot.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_future.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)퓨처로봇
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- 로보쓰리 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="https://robo3.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_robo3.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)로보쓰리
              </div>
            </div>
          </div>
        </a>
      </div>

      <!-- 한컴로보틱스 -->
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <a href="https://www.hancomrobotics.com/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_hancom.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                (주)한컴로보틱스
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!-- End of Contents -->
  </div>
</section>
