<header id="about">
    <div class="header-content">
        <div class="container text-left">
            <h1>안내로봇 인터랙션 AI데이터 (SIR)</h1>

            <h4 class="my-5">본 프로젝트는 인공지능 학습데이터 구축 사업으로<br/><br/>
              과학기술정보통신부와 한국정보화진흥원이 지원하는 디지털 뉴딜 사업 중 하나입니다.<br/><br/>
              본 프로젝트는 급속도로 증가하는 안내로봇 수요에 따라<br/><br/>
              로봇과 인공지능 개발 및 연구에 필요한 데이터를 구축하는 사업입니다.</h4>

            <a href="https://aiis.snu.ac.kr/sir" target="_blank" class="btn btn-default btn-big">데이터 구축 프로그램 바로가기!</a>
        </div>
    </div>
</header>
