<section class="no-padding overflow-hidden" id="help">
  <div class="container-fluid">

    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Help</h2>
      </div>
    </div>

    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".join-guide">
          <img src="img/help/thumb/join.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                이용가이드
              </div>
              <div class="project-name">
                회원 가입 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".project-apply">
          <img src="img/help/thumb/project.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                이용가이드
              </div>
              <div class="project-name">
                프로젝트 참여 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".payment">
          <img src="img/help/thumb/payment.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                이용가이드
              </div>
              <div class="project-name">
                급여 산정 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".labeling-tutorial">
          <img src="img/help/thumb/labeling.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                작업가이드
              </div>
              <div class="project-name">
                라벨링 작업 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".check-tutorial">
          <img src="img/help/thumb/check.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                작업가이드
              </div>
              <div class="project-name">
                검수 작업 방법 안내
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="#" class="help-box" data-toggle="modal" data-target=".tutorial-vid">
          <img src="img/help/thumb/tutorial.jpg" class="help-img" alt="">
          <div class="help-box-caption">
            <div class="help-box-caption-content">
              <div class="project-category text-faded">
                작업가이드
              </div>
              <div class="project-name">
                튜토리얼 영상 보기
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>


  <!-- Modals -->

  <!-- 회원 가입 방법 안내 -->
  <div class="modal fade join-guide" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">회원 가입 방법 안내</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">회원 가입 방법</h4>
          <div class="line"></div>
      <p>1. https://aiis.snu.ac.kr/ 로 접속합니다.</p>
      <p>2. 아래 사진에 표시된 버튼(항목이름: ‘SIR’)을 클릭하여 사업단 홈페이지에 접속합니다.</p>
          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/join/0.png" alt="">
          </div>

      <p>3.사업단 홈페이지 접속 후 '데이터 구축 프로그램 바로가기' 버튼을 클릭합니다.</p>



          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/join/1.png" alt="">
          </div>

        <p>4. ‘회원가입’ 버튼을 클릭합니다.</p>


          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/join/2.png" alt="">
          </div>

          <p>5.개인정보(아이디, 이메일, 이름, 휴대폰 번호, 비밀번호)를 모두 입력합니다.</p>

          <p>6.모두 동의를 선택합니다.</p>

          <p>7.‘회원가입’ 버튼을 눌러 완료합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/join/3.png" alt="">
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 프로젝트 참여 방법 안내 -->
  <div class="modal fade project-apply" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">프로젝트 참여 방법 안내</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">프로젝트 참여 방법</h4>
          <div class="line"></div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/project/1.png" alt="">
          </div>

          <p>1. 아이디와 비밀번호를 입력하고 로그인을 합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/project/2.png" alt="">
          </div>

          <p>2. 라벨링 또는 검수 버튼을 클릭하여 프로젝트에 참여합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/project/3.png" alt="">
          </div>

          <p>3. 작업 할당받기 버튼을 클릭하여 작업을 시작합니다.</p>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 급여 산정 방법 안내 -->
  <div class="modal fade payment" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">급여 산정 방법 안내</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">라벨러 급여 산정 방법</h4>

          <div class="line w-25"></div>

          <p>1. 작업 통계 메뉴에서 라벨링 통계를 확인합니다.</p>

          <p>2. 이번 달 작업 완료 건수를 확인합니다.</p>

          <p>3. 1건당 100원으로 산정합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/pay/label.png" alt="">
          </div>

          <p>예) 위의 예시 이미지와 같이 작업 완료 건수가 10건이라면 10*100(원) 으로 계산하여 해당 월에는 총 1000원이 산정됩니다.</p>

          <div class="line my-5"></div>

          <h4 class="mb-3">검수자 급여 산정 방법</h4>

          <div class="line w-25"></div>

          <p>1. 작업 통계 메뉴에서 검수 통계를 확인합니다.</p>

          <p>2. 이번 달 작업 완료 건수를 확인합니다.</p>

          <p>3. 1건당 50원으로 산정합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/pay/check.png" alt="">
          </div>

          <p>예) 위의 예시 이미지와 같이 작업 완료 건수가 10건이라면 10*50(원) 으로 계산하여 해당 월에는 총 500원이 산정됩니다.</p>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 라벨링 튜토리얼 -->
  <div class="modal fade labeling-tutorial" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">라벨링 작업 안내</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">라벨링 작업 방법</h4>
          <div class="line"></div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/1.png" alt="">
          </div>

          <p>1. 파일명(파란글씨)을 클릭합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/2.png" alt="">
          </div>

          <p>2. 다음과 같은 화면이 나오면 작업을 시작합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/3.png" alt="">
          </div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/4.png" alt="">
          </div>

          <p>3. 사진 속 인물이 남자면 Man 여자면 Woman 을 클릭합니다.</p>

          <p>4. 사진 속 인물의 얼굴에 맞춰 네모박스를 그립니다.</p>

          <p>5. 사람이 바라보고 있는 방향을 로봇 관점에서 체크합니다.</p>

          <p>6. 사람이 느끼고 있는 감정 상태를 체크합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/5.png" alt="">
          </div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/6.png" alt="">
          </div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/label/7.png" alt="">
          </div>

          <p>7. 동영상을 들었을 때 들리는 말을 듣고 알맞게 입력합니다.</p>

          <p>8. 말하는 사람의 어조에 따라 감정 상태를 체크합니다.</p>

          <p>9. 들리는 목소리에서 다음에 해당되는 것 중 하나를 선택합니다.</p>

          <p>10. 사람이 로봇과 대화를 하고 반응하는지 체크합니다.</p>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 검수 튜토리얼 -->
  <div class="modal fade check-tutorial" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">검수 작업 안내</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">검수 작업 방법</h4>
          <div class="line"></div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/1.png" alt="">
          </div>

          <p>1. 파일명(파란글씨)을 클릭합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/2.png" alt="">
          </div>

          <p>2. 다음과 같은 화면이 나오면 작업을 시작합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/3.png" alt="">
          </div>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/4.png" alt="">
          </div>

          <p>3. 선택한 성별 태그와 네모박스가 그려진 얼굴의 성별이 일치하는지 확인합니다.</p>

          <p>4. 네모박스가 그려진 인물을 기준으로 해당인물의 시선방향이 올바르게 체크 되었는지 확인합니다.</p>

          <p>5. 들리는 목소리 어조를 통해 나타나는 화자의 감정상태가 체크된 내용과 일치하는지 확인합니다.</p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/5.png" alt="">
          </div>

          <p>6. 영상재생 후 들리는 대화내용이 텍스트 내용과 일치하는지를 확인합니다.</p>

          <p>7. 들리는 내용을 통해 나타나는 화자의 감정상태가 일치하는지 확인합니다.</p>

          <p>8. 들리는 내용을 통해 나타나는 화자의 의도가 체크된 내용과 일치하는지 확인합니다.</p>

          <p>9. 사람이 로봇과 상호작용을 하고 있는지 판단합니다. </p>

          <div class="text-center mb-3">
            <img class="modal-img" src="img/help/check/6.png" alt="">
          </div>

          <p>10. 올바르게 작업이 완료된 경우 PASS를 클릭하고 잘못된 경우 FAIL을 클릭합니다.</p>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

  <!-- 튜토리얼 영상 -->
  <div class="modal fade tutorial-vid" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <b class="ml-4">튜토리얼 영상 보기</b>
          <button type="button" class="dismiss overflow-hidden" data-dismiss="modal"><i class="fa fa-times"></i></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <h4 class="mb-3">라벨링 튜토리얼</h4>

          <div class="text-center mb-3">
            <video class="modal-vid" controls>
              <source src="vid/tutorial/sample_1.mp4" type="video/mp4">
              <source src="vid/tutorial/sample_1.ogg" type="video/ogg">
              Your browser does not support HTML video.
            </video>
          </div>

          <div class="line"></div>

          <h4 class="mb-3">검수 튜토리얼</h4>

          <div class="text-center mb-3">
            <video class="modal-vid" controls>
              <source src="vid/tutorial/sample_2.mp4" type="video/mp4">
              <source src="vid/tutorial/sample_2.ogg" type="video/ogg">
              Your browser does not support HTML video.
            </video>
          </div>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>

      </div>
    </div>
  </div>

</section>
