<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/qna.css" type="text/css">
    <title></title>
  </head>
  <body>
    <div class="question">
      <h5>질문</h5>
    </div>
    <div class="answer">
      <h5>답변</h5>
    </div>
    <div class="question">
      <h5>질문</h5>
    </div>
    <div class="answer">
      <h5>답변</h5>
    </div>
    <div class="question">
      <h5>질문</h5>
    </div>
    <div class="answer">
      <h5>답변</h5>
    </div>
    <div class="question">
      <h5>질문</h5>
    </div>
    <div class="answer">
      <h5>답변</h5>
    </div>
  </body>
</html>
