<form class="form-horizontal">
<section class="no-padding overflow-hidden" id="sponsor">
  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sponsor</h2>
      </div>
    </div>

    <div class="row p-5 bg-navy">
      <div class="col-lg-4 col-sm-6">

        <a href="https://www.nia.or.kr/" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_nia.png" class="circle img-responsive" alt="">
          <img class="img-responsive center-block"/>
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                한국정보화진흥원 NIA
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a href="" type="_blank" class="circle partners-box">
          <img src="img/partners/logo_msict.png" class="circle img-responsive" alt="">
          <div class="partners-box-caption">
            <div class="partners-box-caption-content">
              <div class="project-category text-faded">
                Consortium
              </div>
              <div class="project-name">
                과학기술정보통신부
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
